<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="RgnaLxVp8AmfRFpcmtjHV7fUBPAXw7rw6su2Ti7lk-I" />
        $if(day)$
          <title>Daily Reading Notes - $title$ - Day $day$</title>
        $else$
          <title>Daily Reading Notes - $title$</title>
        $endif$
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/alex-brush" type="text/css"/>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/d-din" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    </head>
    <body class="ddin-regular tc center ph3">
        <header>
            <div class="alex-brush f2">
                <a class="link dim black" href="/">Daily Reading Notes</a>
            </div>
            <nav class="f4">
                <a class="link dim primary mh1" href="/">Home</a>
                <a class="link dim primary mh1" href="/about.html">About</a>
                <a class="link dim primary mh1" href="/contact.html">Contact</a>
                <a class="link dim primary mh1" href="/archive.html">Archive</a>
            </nav>
        </header>

        <main class="tl dib center f5 f4-ns bb bt mt3 pb3" >
            <h1 class="f2">$title$</h1>
            $body$
        </main>

        <footer class="f7 mv2 gray">
            Site proudly created by Artem Chernyak
        </footer>
    </body>
</html>
